In [68]:
import pandas as pd, requests

In [69]:
#get TI matches
ti_matches = requests.get('https://api.opendota.com/api/leagues/14268/matches')
ti_matches = ti_matches.json()

In [70]:
#load all ti matches
matches_df = pd.DataFrame(ti_matches)
matches_df.head()

,match_id,match_seq_num,radiant_win,start_time,duration,tower_status_radiant,tower_status_dire,barracks_status_radiant,barracks_status_dire,cluster,...,radiant_gold_adv,radiant_xp_adv,teamfights,version,cosmetics,radiant_score,dire_score,draft_timings,series_id,series_type
0,6806403033,5699386240,True,1665825733,2053,1958,1590,63,15,154,...,"[0, 51, -64, 146, -358, -1135, -1099, -1806, -...","[0, 18, -112, -93, -559, -1040, -1084, -1612, ...","[{'start': 478, 'end': 514, 'last_death': 499,...",21,"{'647': 129, '6496': 128, '6498': 128, '6526':...",27,27,"[{'order': 1, 'pick': False, 'active_team': 3,...",713745,1
1,6806374409,5699385279,True,1665824097,3732,1540,260,11,51,154,...,"[0, 324, -127, 17, -343, -259, -765, -546, -43...","[0, 3, -401, -162, -233, -332, -763, -325, -23...","[{'start': 579, 'end': 651, 'last_death': 636,...",21,"{'647': 131, '746': 130, '6159': 0, '6162': 0,...",35,39,"[{'order': 1, 'pick': False, 'active_team': 3,...",713723,1
2,6806377510,5699376031,False,1665824352,2879,0,1972,0,63,154,...,"[100, 85, -14, 250, 3, 334, 1303, 1931, 1887, ...","[50, -11, -342, -207, -786, -401, 292, 1409, 1...","[{'start': 516, 'end': 558, 'last_death': 543,...",21,"{'647': 128, '5105': 4, '5412': 3, '6669': 4, ...",38,43,"[{'order': 1, 'pick': False, 'active_team': 3,...",713722,1
3,6806364123,5699363073,False,1665824103,2285,1536,1974,0,63,154,...,"[0, -315, 36, 216, -291, -70, -175, -1095, -16...","[0, 105, 310, 483, 698, 938, 1016, -22, -955, ...","[{'start': 315, 'end': 362, 'last_death': 347,...",21,"{'600': 3, '647': 130, '4007': 2, '5927': 131,...",19,31,"[{'order': 1, 'pick': False, 'active_team': 3,...",713730,1
4,6806365638,5699360219,True,1665823886,2390,1846,384,63,48,154,...,"[-2, 514, 453, 575, 385, 141, 245, 336, -544, ...","[-2, 77, 28, 420, 357, -16, -22, 350, -188, -5...","[{'start': 792, 'end': 851, 'last_death': 836,...",21,"{'647': 0, '4990': 131, '4992': 131, '6833': 1...",27,23,"[{'order': 1, 'pick': False, 'active_team': 3,...",713725,1

In [71]:
#save json file for each match if not yet saved
all_matches = list(matches_df['match_id'])
saved_matches_df = pd.read_csv('saved_matches.csv')
saved_matches = list(saved_matches_df['match_id'])
for match in all_matches:
    if match not in saved_matches:
        match_list = []
        match_data = requests.get(f'https://api.opendota.com/api/matches/{match}')
        match_data = match_data.json()
        match_list.append(match_data)
        match_data_df = pd.DataFrame(match_list)
        match_data_json = match_data_df.to_json(f'matches/{match}.json')
        saved_matches.append(match)
saved_matches_df=pd.DataFrame(saved_matches,columns=['match_id'])
saved_matches_df.to_csv('saved_matches.csv',index=False)

In [90]:
#load all matches to json file

all_matches_data = []
loaded_matches_df = pd.read_csv('loaded_matches.csv')
loaded_matches = list(saved_matches_df['match_id'])
for match in all_matches:
    if match not in loaded_matches:
        load_match = pd.read_json(f'matches/{match}.json')
        all_matches_data.append(load_match)
        loaded_matches.append(match)
loaded_matches_df=pd.DataFrame(loaded_matches,columns=['match_id'])
loaded_matches_df.to_csv('loaded_matches.csv',index=False)
all_matches_data_df = pd.concat(all_matches_data,ignore_index=True)
all_matches_data_df.to_json('all_matches.json',orient="records")