In [1]:
import pandas as pd, requests

In [2]:
#get TI matches
ti_matches = requests.get('https://api.opendota.com/api/leagues/14268/matches')
ti_matches = ti_matches.json()

In [3]:
#load all ti matches
matches_df = pd.DataFrame(ti_matches)
matches_df.head()

,match_id,match_seq_num,radiant_win,start_time,duration,tower_status_radiant,tower_status_dire,barracks_status_radiant,barracks_status_dire,cluster,...,radiant_gold_adv,radiant_xp_adv,teamfights,version,cosmetics,radiant_score,dire_score,draft_timings,series_id,series_type
0,6831574509,5721909201,True,1667102923,1672,1975,256,63,50,154,...,"[0, 177, 149, 102, 370, 72, 430, 115, 466, 725...","[0, 146, 336, 398, 369, 14, 376, -410, 486, 66...","[{'start': 637, 'end': 677, 'last_death': 662,...",21,"{'647': 129, '5204': 1, '5542': 0, '5939': 131...",24,14,"[{'order': 1, 'pick': False, 'active_team': 3,...",718446,1
1,6829345218,5719910903,True,1667026010,2321,1847,0,63,0,154,...,"[0, 438, 547, 386, 165, 0, -471, -1094, -1031,...","[0, 79, -145, 258, -109, -83, 313, -48, 6, 965...","[{'start': 498, 'end': 537, 'last_death': 522,...",21,"{'647': 2, '4648': 128, '4794': 2, '4885': 128...",29,10,"[{'order': 1, 'pick': False, 'active_team': 3,...",718088,1
2,6829184970,5719764205,False,1667017307,2696,390,1572,51,63,154,...,"[100, 244, 275, -272, -295, -1063, -261, 210, ...","[48, 375, -20, -145, -267, -677, 761, 459, 949...","[{'start': 719, 'end': 761, 'last_death': 746,...",21,"{'647': 130, '746': 129, '4794': 130, '5018': ...",27,29,"[{'order': 1, 'pick': False, 'active_team': 3,...",718088,1
3,6829266295,5719831407,False,1667021859,2265,0,1844,0,63,154,...,"[0, -421, -824, -1155, -1633, -1594, -1602, -2...","[0, 85, 168, -165, -706, -464, -483, -448, -42...","[{'start': 1372, 'end': 1413, 'last_death': 13...",21,"{'647': 0, '4317': 131, '4990': 1, '5939': 3, ...",10,33,"[{'order': 1, 'pick': False, 'active_team': 3,...",718088,1
4,6829692346,5720245478,True,1667038912,2692,1830,1792,63,48,154,...,"[0, -13, 65, 120, -449, 277, -244, -297, 450, ...","[0, -132, -113, 10, -99, 467, -727, -670, -525...","[{'start': 909, 'end': 974, 'last_death': 959,...",21,"{'600': 131, '647': 129, '5204': 1, '5542': 0,...",40,25,"[{'order': 1, 'pick': False, 'active_team': 3,...",718133,1

In [4]:
#save json file for each match if not yet saved
all_matches = list(matches_df['match_id'])
saved_matches_df = pd.read_csv('working/saved_matches.csv')
saved_matches = list(saved_matches_df['match_id'])
for match in all_matches:
    if match not in saved_matches:
        match_list = []
        match_data = requests.get(f'https://api.opendota.com/api/matches/{match}')
        match_data = match_data.json()
        match_list.append(match_data)
        match_data_df = pd.DataFrame(match_list)
        match_data_json = match_data_df.to_json(f'matches/{match}.json')
        saved_matches.append(match)
        saved_matches_df=pd.DataFrame(saved_matches,columns=['match_id'])
        saved_matches_df.to_csv('working/saved_matches.csv',index=False)

In [5]:
#load all matches to json file
all_matches = list(matches_df['match_id'])
all_matches_data = []
loaded_matches_df = pd.read_csv('working/loaded_matches.csv')
loaded_matches = list(loaded_matches_df['match_id'])
loaded_matches_data_df = pd.read_json('all_matches.json')
all_matches_data.append(loaded_matches_data_df)

for match in all_matches:
    if match not in loaded_matches:
        load_match = pd.read_json(f'matches/{match}.json')
        all_matches_data.append(load_match)
        loaded_matches.append(match)
        loaded_matches_df=pd.DataFrame(loaded_matches,columns=['match_id'])
        loaded_matches_df.to_csv('working/loaded_matches.csv',index=False)
        all_matches_data_df = pd.concat(all_matches_data,ignore_index=True)
        all_matches_data_df.to_json('all_matches.json',orient="records")